name: realtime example
on: workflow_dispatch
env:
  S3_BUCKET: "real-time-57"
  AWS_REGION: "ap-southeast-2"

jobs:
  deploy:
   runs-on: ubuntu-latest
   steps:
     - name: checkout the code
       uses: actions/checkout@v6
     - name: install java and maven
       uses: actions/setup-java@v4
       with:
         distribution: temurin
         java-version: '25'
     - name: install maven
       uses: stCarolas/setup-maven@v4
       with:
         maven-version: '3.8.6'
     - name: build the code
       run: mvn --version && mvn clean install
     - name: upload to s3 bucket
       run: |
        aws s3 cp target/spring-petclinic-4.0.0-SNAPSHOT.jar.original s3://$S3_BUCKET/ --region $AWS_REGION
       env:
         AWS_ACCESS_KEY_ID: ${{ secrets.AWS_ACCESS_KEY_ID }}
         AWS_SECRET_ACCESS_KEY: ${{ secrets.AWS_SECRET_ACCESS_KEY }}